
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:black;
  background-color:rgb(204,255,179, 0.9);
  border-radius:8px;
 table-layout: fixed;
 border-collapse: collapse;
  border: 1px solid black;
}

h1 {
  font-size:1em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #A7A1AE;

}

h2 {
  font-size:1,4em; 
  font-weight: 3000;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: black;


}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;

}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.display th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;

}

.display td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
          box-shadow:2px 2px 2px black;

    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #f2f2f2;

}




/* Background-color of the odd rows */
.display tr:nth-child(odd) {
	  background-color: #54E780;

}

/* Background-color of the even rows */
.display tr:nth-child(even) {
	  background-color: #F5FFFA;

}

.display th {
	  background-color: lightgreen;


}

.display td:first-child { 
  color: black; table-layout: fixed;
box-shadow:2px 2px 2px black;

